<div class="column-layout admin-view-layout">
  <div class="column-layout admin-header">
    <h4 class="admin-title">
      Administrator Settings
    </h4>
    <p class="admin-description">
      Manage user roles by assigning Admin or User privileges.
    </p>
  </div>
  <igx-tabs class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Manual set</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content">
        <div class="column-layout role-assignment-form">
          <igx-input-group type="border" class="email-input">
            <input type="email" [(ngModel)]="value" placeholder="Enter user's email" required="true" igxInput #igxInput />
            <label igxLabel>Email Address</label>
            @if (igxInput.validity.valueMissing) {
              <igx-hint>This field is required</igx-hint>
            }
          </igx-input-group>
          <igx-radio-group [(ngModel)]="value1" class="role-selection">
            <igx-radio [value]="Admin">
              Admin
            </igx-radio>
            <igx-radio [value]="User">
              User
            </igx-radio>
          </igx-radio-group>
          <button igxButton="contained" type="button" igxRipple class="assign-role-button">
            Assign Role
          </button>
        </div>
      </igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Pick From Users List</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
</div>
