<div class="column-layout teacher-dashboard-content">
  <div class="column-layout teacher-dashboard-header">
    <h4 class="content">
      Add/Edit/Delete equipment
    </h4>
    <p class="content">
      Welcome, Teacher!
    </p>
  </div>
  <div class="row-layout teacher-metrics-section"></div>
  <div class="row-layout teacher-statistics-section">
    <div class="column-layout teacher-stats-charts-column">
      <div class="column-layout all-items-inventory-section">
        <div class="column-layout teacher-dashboard-header">
          <h5 class="content">
            All Items Inventory
          </h5>
          <p class="ig-typography__body-2 content">
            Comprehensive list of all items in the inventory.
          </p>
        </div>
        <igx-grid [data]="teacherInventoryListTeacherInventory" [allowFiltering]="true" filterMode="excelStyleFilter" class="all-items-inventory-grid">
          <igx-column field="item_name" header="Item Name" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="item_type" header="Item Type" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="available_quantity" header="Available Quantity" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="status" header="Status" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column header="Request Equipment" [filterable]="true" [sortable]="true" [selectable]="false">
            <ng-template igxCell>
              <button igxButton="contained" type="button" igxRipple [routerLink]="['/equipment-management-view/equipments-read-only/request-equipment']" class="button">
                Request
              </button>
            </ng-template>
          </igx-column>
        </igx-grid>
      </div>
    </div>
  </div>
</div>
