<div class="column-layout teacher-dashboard-content">
  <div class="column-layout teacher-dashboard-header">
    <h4 class="content">
      Dashboard
    </h4>
    <p class="content">
      Welcome, Teacher!
    </p>
  </div>
  <div class="row-layout teacher-metrics-section">
    <igx-card class="teacher-metric-card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="teacher-metric-card1-avatar">
            <igx-icon class="icon">
              category
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Total Items
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout teacher-metric-card1-content">
          <h3 class="teacher-metric-card1-value">
            250
          </h3>
          <div class="row-layout teacher-metric-card1-growth">
            <p class="ig-typography__subtitle-2 teacher-metric-card1-growth-rate">
              +2%
            </p>
            <p class="ig-typography__body-2 content">
              vs. last month
            </p>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="teacher-metric-card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="teacher-metric-card2-avatar">
            <igx-icon class="icon">
              engineering
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Items in Use
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout teacher-metric-card1-content">
          <h3 class="teacher-metric-card1-value">
            45
          </h3>
          <div class="row-layout teacher-metric-card1-growth">
            <p class="ig-typography__subtitle-2 teacher-metric-card1-growth-rate">
              +7%
            </p>
            <p class="ig-typography__body-2 content">
              vs. last month
            </p>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="teacher-metric-card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="teacher-metric-card3-avatar">
            <igx-icon class="icon">
              inventory
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Available for Checkout
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout teacher-metric-card1-content">
          <h3 class="teacher-metric-card1-value">
            205
          </h3>
          <div class="row-layout teacher-metric-card1-growth">
            <p class="ig-typography__subtitle-2 teacher-metric-card1-growth-rate">
              -1%
            </p>
            <p class="ig-typography__body-2 content">
              vs. last month
            </p>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
    <igx-card class="teacher-metric-card">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle" class="teacher-metric-card4-avatar">
            <igx-icon class="icon">
              add_alert
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          New Requests
        </h3>
        <h5 igxCardHeaderSubtitle>
      </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <div class="column-layout teacher-metric-card1-content">
          <h3 class="teacher-metric-card1-value">
            5
          </h3>
          <div class="row-layout teacher-metric-card1-growth">
            <p class="ig-typography__subtitle-2 teacher-metric-card4-growth-rate">
              +15%
            </p>
            <p class="ig-typography__body-2 content">
              vs. last week
            </p>
          </div>
        </div>
      </igx-card-content>
    </igx-card>
  </div>
  <div class="row-layout teacher-statistics-section">
    <div class="column-layout teacher-stats-charts-column">
      <div class="row-layout teacher-charts-row">
        <div class="column-layout item-types-distribution-section">
          <div class="column-layout teacher-dashboard-header">
            <h5 class="content">
              Item Types Distribution
            </h5>
            <p class="ig-typography__body-2 content">
              Breakdown of inventory by type.
            </p>
          </div>
          <igx-category-chart computedPlotAreaMarginMode="series" class="item-types-distribution-chart"></igx-category-chart>
        </div>
        <div class="column-layout item-types-distribution-section">
          <div class="column-layout teacher-dashboard-header">
            <h5 class="content">
              Borrowing Activity
            </h5>
            <p class="ig-typography__body-2 content">
              Overall borrowing and return trends.
            </p>
          </div>
          <igx-category-chart computedPlotAreaMarginMode="series" class="item-types-distribution-chart"></igx-category-chart>
        </div>
      </div>
      <div class="column-layout all-items-inventory-section">
        <div class="column-layout teacher-dashboard-header">
          <h5 class="content">
            All Items Inventory
          </h5>
          <p class="ig-typography__body-2 content">
            Comprehensive list of all items in the inventory.
          </p>
        </div>
        <igx-grid [data]="teacherInventoryListTeacherInventory" [allowFiltering]="true" filterMode="excelStyleFilter" class="all-items-inventory-grid">
          <igx-column field="item_name" header="Item Name" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="item_type" header="Item Type" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="available_quantity" header="Available Quantity" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="status" header="Status" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
        </igx-grid>
      </div>
    </div>
  </div>
</div>
